*.o
*.a
*-conf
/auto-str
/walldns
/utime
/uint64.h
/uint32.h
/tinydns-get
/tinydns-edit
/tinydns-data
/tinydns
/systype
/socket.lib
/sockaddr_in6.h
/select.h
/rts
/rbldns-data
/rbldns
/random-ip
/pickdns-data
/auto_home.c
/auto_inst_home.c
/axfr-get
/axfrdns
/cachetest
/chkshsgr
/choose
/compile
/direntry.h
/djbdns-chroot.login
/djbdns-chroot.suid
/dnscache
/dnsfilter
/dnsip
/dnsip6
/dnsip6q
/dnsipq
/dnsmx
/dnsname
/dnsq
/dnsqr
/dnstrace
/dnstracesort
/dnstxt
/hasdevtcp.h
/hasshsgr.h
/haveip6.h
/haven2i.h
/install
/instcheck
/iopause.h
/load
/makelib
/pickdns
/auto_service_home.c
